#drmsidebar{
    background-color:#eeeeee;
}
#drmsidebar p{
    margin:1em;
}
table.comparison{
    margin-top:1em;
    font-size:1.25em;
    width:100%
}

table.comparison td{
    text-align:center;
}
table.comparison th{
    background-color:black;
    color: white;
}
table.comparison tr:nth-child(2n){
    background-color:#ccc;
}

.check{
    width:6ex;
}

.hero-unit{
    background-color:#b6c3c9;
    border: 12px solid black;
    text-shadow: 2px 2px #c6ced2;

}

.pdf{
    color:#ec3c3e;
}
.epub{
    color:#83ba0a;
}
.mobi{
    color:#225ca3;
}
